{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center;">Adicionar Novo Curso</h2>
<hr>
<form action="{{url_for('cria_cursos')}}" method="POST" class="form-control">
    <label for="">Nome</label>
    <input class="form-control" type="text" name="nome" placeholder="Nome do Curso" required>
    <br>
    <label for="">Descrição</label>
    <input class="form-control" type="text" name="descricao" placeholder="Descrição do Curso" required>
    <br>
    <label for="">CH</label>
    <input class="form-control" type="number" name="ch" placeholder="CH do Curso" required>
    <br>
    <button class="btn btn-success">Adicionar</button>
</form>

{% endblock conteudo %}